{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Education Overview</h3>

    <h5>What we teach you as a student</h5>

    <p>
        With our strong research background, CLTL prepares students for academic careers in Computational
        Linguistics and AI, evidenced by many of our students that continue their passion as PhDs in the
        field. Other students find their way in industry, start-ups and larger organisations or government
        as our master provides you with all the skills to apply technology built with Large Language Models.
        If you are interested to study with us and become ready for the job market with your language
        technology and AI skills, check out our teaching programmes: research and text mining.
    </p>



    <p>
        Many of our students started with a background in linguistics only but within a year they
        learned to use their skills and knowledge to analyse language as data. Other students have a
        technical or AI background but want to specialise in Large Language Models and language
        applications such as conversational AI. These students get a deeper understanding of language
        as data and what Language Models really are. Follow this link for examples of our student
        projects to see what they did and what you can learn to do as well.
    </p>

<div>

    <p>
        ...
    </p>

    <h5>...</h5>

    <p>
        ...
    </p>

    <p>
        ...
    </p>
</div>
{% endblock %}
