{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Master Theses</h3>


<div>

    <h5 id="hlt_theses">Human Language Technology</h5>
    <ul>
        {% for item in theses_hlt %}
            <li><strong>{{ item[0] }}</strong>, {{ item[1] }}. {{ item[2] }} (<a href="">pdf</a>)</li> 
        {% endfor %}
    </ul>
  
    <h5 id="tm_theses">Text Mining</h5>
    <ul>
        {% for item in theses_tm %}
            <li><strong>{{ item[0] }}</strong>, {{ item[1] }}. {{ item[2] }} (<a href="">pdf</a>)</li> 
        {% endfor %}
    </ul>
  
{% endblock %}
