{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Internships</h3>


<div>

        <div class="text-center">
            <figure><img src="{{ url_for('static', filename='img/HLT_Footer.jpeg') }}" alt="HLT Banner" style="width: 100%;"></figure>
        </div>

    <p>
        The Chair in Computational Lexicology liaises with a range of companies in the Netherlands and abroad.
        This involves cooperation projects, internships, participation in minor programs for employees, advice
        and consultation. Recent contacts are: <a href="https://www.accenture.com/nl-en" target="_blank">Accenture</a>,
        <a href="https://www.bol.com/nl/nl/" target="_blank">bol.com</a>, <a href="https://www.cbs.nl/en-gb" target="_blank">Statistics Netherlands (CBS)</a>,
        <a href="https://www2.deloitte.com/nl/nl.html" target="_blank">Deloitte</a>, <a href="https://home.kieskompas.nl/en/" target="_blank">Election Compass (Kieskompas)</a>,
        <a href="https://www.kb.nl/en" target="_blank">National Library of the Netherlands (Koninklijke Bibliotheek)</a>, <a href="https://www.lexisnexis.co.uk/" target="_blank">LexisNexis</a>,
        <a href="https://home.mediquest.nl/" target="_blank>">MediQuest</a>, <a href="https://www.forensicinstitute.nl/" target="_blank">Netherlands Forensic Institute (NFI) Ministry of Justice and Security</a>,
        <a href="https://nlterm.org/" target="_blank">NL-Term</a>, <a href="https://olery.com/" target="_blank">Olery</a>, <a href="https://www.oracle.com/" target="_blank">Oracle</a>
        , <a href="https://www.synerscope.com/" target="_blank">Synerscope</a>, <a href="https://www.trivago.com/" target="_blank">Trivago</a>,
        <a href="https://www.houseofrepresentatives.nl/" target="_blank">House of Representatives (Tweede Kamer der Staten-Generaal)</a>.
    </p>

    <h5>Internship Procedure</h5>

    <p>
        Students can choose between a research oriented thesis and a thesis based on an internship in the industry.
        For both options CLTL has plenty of possibilities.
    </p>
    <p>
        Please find more information on <a href="{{ url_for('education_theses') }}">internships and research topics for Master theses (BA, BSc, MA and MSc) here</a>.
    </p>
    <p>
        <a href="https://vu.nl/en/student/elective-space/internship-or-graduation-project" target="_blank">VUnet login students: information on Internship/thesis</a>
    </p>

    <h5>Documents: Agreements and protocols</h5>

    <ul>
        <li>Internship Placement Contract / <br> NL: Model stageovereenkomst I / Model stageovereenkomst II</li>
        <li>Internship Placement Manual / NL: Stagevoorwaarden</li>
        <li>English version(?)… / NL: Regels verzekering bij stage student</li>
        <li>Placement Mentor Assessment Form / NL: Beoordelingsformulier stagementor</li>
    </ul>

    <h5>Practical Information</h5>

    <ul>
        <li>A member of the programme’s teaching staff wil act as placement supervisor. The student will also be allocated
            a supervisor at the organization providing the placement: this is the placement mentor.</li>
        <li>The Examination Board must approve and sign the placement contract.</li>
        <li>No later than two weeks after the start of the placement, the student will submit a work plan to their supervisor.
            A work plan details the practical implementation of the placement assignment, including an action plan, a timeline
            specifying various stages and clearly defined end products. One of the compulsory end products is a placement report.
            This work plan is produced by the student in consultation with the placement mentor.</li>
    </ul>

    <h5>How To Apply?</h5>

    <p>
        If you want to apply for an internship and/or writing a thesis, you should send <a href="mailto: isa.maks@vu.nl">Dr. Isa Maks</a> an email with your personal
        data like name, study etc., your plans, time schedule and your motivation. We will forward your applications to the companies
        and organizations. They will contact you (and us) and probably make an appointment.
    </p>
</div>
{% endblock %}
