{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Research Master Human Language Technology</h3>



<div>

        <div>
            <figure><img src="{{ url_for('static', filename='img/hltl_banner.jpeg') }}" alt="HLT Banner" style="width: 100%;"></figure>
        </div>

    <p>
        Human Language technology is rapidly affecting society at large. 
        In the Human Language Technology (HLT) track of the Research Master Linguistics, students from various 
        backgrounds come together to study Machine Learning methods for Natural Language Processing in relation to
        linguistics and the Humanities.
    </p>
        
    <p>
        Students finish the program by carrying out an internship in a company or in our research group
        for their final thesis project. The CLTL actively looks for <a href="{{ url_for('research_partnerships') }}">partnering companies</a>
        to provide internship topics. 
        Past their internship, students often find a research position in their internship company or pursue a PhD position.
    </p>

    <ul>
        <li><a href="https://vu.nl/en/education/master/humanities-research-linguistics" target=”_blank”>Humanities Research: Linguistics</a>: more information on the program and studying at the Vrije Universiteit Amsterdam</li>
        <li><a href="{{ url_for('education_theses') }}">Research Master Theses</a></li>
    </ul>

    <p>Contact: <a href="{{ url_for('people') }}#hennie" target="_blank">Hennie van der Vliet</a></p>

</div>
{% endblock %}
