{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Master Theses</h3>


<div>

    <h5 id="hlt_theses">Human Language Technology</h5>
    <ul>
        {% for item in theses_hlt %}
            {% if item[3] is not none %}
                <li><strong>{{ item[0] }}</strong>, {{ item[1] }}. {{ item[2] }} (<a href="{{ item[3] }}">pdf</a>)</li> 
            {% else %}
                <li><strong>{{ item[0] }}</strong>, {{ item[1] }}. {{ item[2] }}</li> 
            {% endif %}
        {% endfor %}
    </ul>
  
    <h5 id="langai_theses">Language and AI (formerly Text Mining)</h5>
    <ul>
        {% for item in theses_langai %}
            {% if item[3] is not none %}
                <li><strong>{{ item[0] }}</strong>, {{ item[1] }}. {{ item[2] }} (<a href="{{ item[3] }}">pdf</a>)</li> 
            {% else %}
                <li><strong>{{ item[0] }}</strong>, {{ item[1] }}. {{ item[2] }}</li> 
            {% endif %}
        {% endfor %}
    </ul>
  
{% endblock %}
