{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Master Human Language Technology</h3>


<div>

    <!-- Strong text are links that need to be converted to URL links-->

    <h5>Human Language Technology is a track in the two-year Humanities Research Master in Linguistics at VU Amsterdam by CLTL.</h5>

    <p>
        Read more about the <strong>application procedure</strong> and do not hesitate to contact our program coordinator Hennie
        van der Vliet <strong>(h.d.vander.vliet [at] vu.nl)</strong>  if you have any questions.



         <!--"Have to add the program time table-->
    <p>
        Human Language technology or Natural Language Processing is a rapidly developing research field.
        In current Humanities research, a firm background in language technology is extremely valuable for
        modelling Big (!) datasets. The Computational Lexicology and Terminology Lab (CLTL) offers a specialization
        in the research master Humanities in which students are trained in human language technology and natural language
        processing. A human language technology expert has knowledge of technology as used in computer applications
        (e.g. search engines) and of relevant linguistic theories. Students finish the program by carrying our research
        for a final thesis project. Such a project can either be carried out with a company our be embedded in ongoing
        research at our lab. If you are interested in what kinds of projects our students carry out at the end of their
        studies, please have a look at <strong>completed and ongoing theses projects</strong> and browse the list of
        available <strong>thesis topics.</strong>
    </p>

    <p>
        The two-year program can be seen here:
    </p>

    <p>
        WHY STUDY AT VU AMSTERDAM?
        <ul>
            <li> The Computational Lexicology and Terminology Lab (CLTL) is one of the world’s leading research institutes in
                Human Language technology.</li>
            <li> <strong>Prof. Dr. Piek Vossen</strong>, recipient of the <strong>NWO Spinoza Prize</strong>, heads the group of international
                researchers that are working on interdisciplinary projects, including the Spinoza project ‘Understanding Language by Machines’.</li>
            <li> Become part of an international group of researchers at Vrije Universiteit Amsterdam!</li>
        </ul>

    <p>
        CAREER ASPECTS
        <br>
        <br>
        You can set up your own research direction as a PhD student or you can embark on a career at a research institute.
        The industry provides many career opportunities, as there is a growing need for linguists with a technical background.
        To prepare for your career, we offer the possibility of combining your thesis with an internship in a research institute
        or at the language industry. If you would like to see what recent graduates are up to, please have a look at our
        <strong>Graduates and Careers page.</strong>
    </p>

    <p>
        ADMISSION REQUIREMENTS
        <br>
        <ul>
            <li>Applicants must have a Bachelor’s degree in Linguistics, Artificial Intelligence or a comparable Bachelor programme,
                with an average grade of minimally 7.5.</li>
            <li>Applicants who do not meet the requirement(s) are also encouraged to apply, provided that they have a sound academic
                background and a demonstrated interest in and knowledge of engineering and/or linguistics.</li>
        </ul>

</div>
{% endblock %}
