{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Master Text Mining</h3>


<div>

    <p>
The master Text Mining by CLTL is a track in the one-year Master Linguistics at VU University

Read more about the application procedure and do not hesitate to contact our program coordinator Hennie van der Vliet (h.d.vander.vliet [at] vu.nl)  if you have any questions.
        ...
    </p>

    <h5>...</h5>

    <p>
        ...
    </p>

    <p>
        ...
    </p>
</div>
{% endblock %}
