{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Courses in Other Programs</h3>


<div>

    <p>
        Next to our Master’s programs, we offer bachelor courses in the Minor Digital Humanities and Social Analytics
        and for students undergraduate students of computer science.
    </p>

    <h5>Minor Digital Humanities and Social Analytics</h5>

    <p>
        The sources and objects studied in history, media, literature, linguistics, music are increasingly becoming
        available digitally. In the minor <a href="https://vu.nl/en/education/minor/digital-humanities-and-social-analytics" target="_blank">Digital Humanities and Social Analytics</a>
        you will learn how to create, interpret
        and analyse different types of data collections using computational tools.
    </p>

    <h6>Why Would You Study Digital Humanities?</h6>

    <p>
        Digital data and computational techniques are fundamentally changing the world around us, and the way humanities research is conducted.
        Humanities scholars have become aware that the new analytical methods and tools can help us to enhance the performance and impact of humanities
        research. Computer scientists have discovered that the fuzzy data and the hermeneutic methods of humanities research offer daring challenges to
        computer science. That is why companies like IBM or Samsung are now undertaking collaborations with humanities researchers. As most of the knowledge-intensive
        jobs have come to depend more on computer technology, university students who master new, sophisticated analytic skills will develop promising career opportunities.
    </p>
    <p>
        Apart from these long-term perspectives, we predict that taking digital humanities courses will be exciting, challenging and fun for
        both humanities and computer science students. The current climate of excitement and innovation around digital humanities will surely have positive
        effects on teachers and students alike!
    </p>

    <h6>Courses In The Minor</h6>

    <p>
        The Digital Humanities minor consists of 5 courses, making up 30 EC. The first two courses will provide you with an introduction to
        the research field of digital humanities, and get you acquainted with state of the art digital humanities projects. We will learn how
        physical objects (texts, images, music) are converted into data and how these objects are turned into entries in a data collection. In the
        second period, we will investigate how to interpret these data collections. You can choose two out of the three courses offered (or, if your
        curriculum allows, you can choose all three) that focus on annotating and labelling data, on coding and programming, or on frequently-used tools
        in clustering, structuring and visualising data. We will build datasets to research humanities problems, such as the history of democracy, tracing
        historical events, the practices of social media, or the canonisation of artists. The minor concludes with ‘collaboratories’ or group-based internships,
        in which you will conduct your own research together with three to four other students and with researchers and organisations in the field of digital
        humanities. Everything you have learned in the other courses comes together in this final practical setting.
    </p>

    <p>
        The Digital Humanities minor is an interdisciplinary minor, welcoming both computers science students and humanities
        students of all disciplines: linguistics, media, communication, history, literature and arts. Throughout the minor,
        you will engage in critical reflection on the tools and methods used, and explore the way digital techniques influence
        current research. All courses are taught in English and focus on collaboration and project-based learning.
    </p>
    <p>
        <a href="https://studiegids.vu.nl/EN/Minor/2024-2025/minor-digital-humanities-and-social-analytics#/tab=3&code=&panel=Minor+Digital+Humanities+and+Social+Analyticslevel1" target="_blank">
            View more information about the courses in the Study Guide
        </a>
    </p>


    <h5>Forensic Linguistics</h5>

    <p>
        <strong>Forensic Linguistics/ Language and the Law</strong> is a track in the 2-year <a href="https://vu.nl/en/education/master/humanities-research-linguistics/curriculum?year=1st-year&specialization=forensic-linguistics" target="_blank">
        Humanities Research Master Linguistics</a> at VU University Amsterdam.
    </p>

    <p>
        Forensic Linguistics is a new and exciting field which has both a narrow and a broad definition. In its more specific
        sense it denotes the use of linguistic evidence in the courtroom. In its broader sense it refers to all areas of overlap
        between language and the law, including the language used in legal or quasi-legal settings by participants including judges,
        lawyers, witnesses, police officers and interpreters.  Graduates of this program will have acquired the theoretical background
        and practical casework experience to be able to analyze disputed texts, recognize a “language crime” such as bribery or threatening
        communication (nowadays often sent via social media), and identify participants in the police station or courtroom who are at a linguistic
        disadvantage and therefore vulnerable to miscarriages of justice.
    </p>

    <h6>Why Study At Vrije Universiteit Amsterdam?</h6>

    <ul>
        <li>The program in Forensic Linguistics/ Language and the Law is the first program in this area to be offered in the
            Netherlands (and is currently the only program of its kind in mainland Europe).</li>
        <li>The program has close links with the Human Language Technology track (lead by Prof. Dr. Piek Vossen, winner of NWO
            Spinoza Prize) giving students unique options within the area of Forensic Linguistics.</li>
        <li>The lecturers on the program are an international team with extensive teaching experience in the UK and USA, as well
            as the Netherlands, with research networks worldwide.</li>
        <li>Your master’s program will include a period of 2-3 months spent abroad at a university in another country.</li>
        <li>Become part of an international group of researchers at Vrije Universiteit Amsterdam!</li>
    </ul>

        <p>
        More details on <a href="https://vu.nl/en/education/more-about/application-documents-master" target="_blank">admission, application, tuition fee’s and much more</a>.<br>
        Click for an overview of the study programme on the <a href="https://studiegids.vu.nl/en/Master/2024-2025/humanities-research#/tab=3&code=&panel=Research+Master+Humanities%2C+Track+Linguisticslevel1%7CResearch+Master+Humanities%2C+Track+Linguistics+-+Forensic+Linguisticslevel2" target="_blank">study guide</a>.<br>
            Contact Person: <a href="{{ url_for('people') }}">Dr. F. van der Houwen</a>
        </p>


</div>
{% endblock %}
