{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Master Text Mining</h3>


<div>

    <!-- Strong text are links that need to be converted to URL links-->

    <h5>The master Text Mining by CLTL is a track in the one-year Master Linguistics at VU University</h5>

    <p>
        Read more about the <strong>application procedure</strong> and do not hesitate to contact our program coordinator Hennie
        van der Vliet <strong>(h.d.vander.vliet [at] vu.nl)</strong>  if you have any questions.
        <br>
        <br>
        You can see the program here:

         <!--"Have to add the program time table-->
    <p>
        Our master program targets students with:
    </p>
        <ul>
           <li> a linguistics background and an interest in technology or</li>
           <li> computer science/AI students and an interest in language and text as data or</li>
            <li>students in other disciplines (humanities, social science, medical, legal, finance and business)
                that have an interest in language and computational technologies to treat language as data.</li>
        </ul>

    <p>
    We offer training into the basics of linguistics and in programming to get all students at the same level.
    Here you find the details on <strong>admission, application, tuition fee, scholarships and much more.</strong>
    </p>

    <h5>Text Mining: a master not only for linguists and AI students!</h5>

    <p>
        For mining information from very large repositories of text, you need to know what you are looking for and
        how to find it. The Master’s programme Text Mining trains everyone with a Bachelor’s and or Master’s degree
        how to use text mining by applying Artificial Intelligence (AI) techniques. You will learn what the possibilities
        and limitations are, and how to reflect on the outcomes and the cross-disciplinary aspects. Students finish the
        program by carrying our research for a final thesis project, which is usually done in the course of an internship
        at a company or organization. Such an internship can serve as a stepping stone for a future career.If you are
        interested in what kinds of projects our students carry out at the end of their studies, please have a look at
        <strong>completed and ongoing theses</strong> projects and browse the list of <strong>available thesis topics.</strong>
    </p>

    <p>
        Do you want to know more about this master for all students from the Humanities, Sciences and Law?  Have a look at the
        website of VU Amsterdam on the <strong>Master Text Mining.</strong>
    </p>
    <!-- Add Master Text Mining Banner-->
    <p>
        WHY STUDY AT VU AMSTERDAM?
        <ul>
            <li> The Computational Lexicology and Terminology Lab (CLTL) is one of the world’s leading research institutes in
                Human Language technology.</li>
            <li> <strong>Prof. Dr. Piek Vossen</strong>, recipient of the <strong>NWO Spinoza Prize</strong>, heads the group of international
                researchers that are working on interdisciplinary projects, including the Spinoza project ‘Understanding Language by Machines’.</li>
            <li> Become part of an international group of researchers at Vrije Universiteit Amsterdam!</li>
        </ul>

    <p>
        CAREER ASPECTS
        <br>
        You can set up your own research direction as a PhD student or you can embark on a career at a research institute.
        The industry provides many career opportunities, as there is a growing need for linguists with a technical background.
        To prepare for your career, we offer the possibility of combining your thesis with an internship in a research institute
        or at the language industry. If you would like to see what recent graduates are up to, please have a look at our
        <strong>Graduates and Careers page.</strong>
    </p>

</div>
{% endblock %}
