{% extends "index.html" %}
<a id="top"></a>

{% block main %}
<h2>CLTL Team</h2>
<br>

<a id="staff"></a>
<h4>Full Professors</h4><br>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/antske_fokkens.jpg') }}" alt="Antske Fokkens" height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Antske Fokkens</b><br>
    Full Professor<br>
    <span><b>Research areas:</b> Stereotyping & Perspectives, Bias & Methodology, Digital Humanities, Grammar Engineering</span><br>
    <span><b>Courses:</b> Machine Learning for NLP, Text Mining for Digital Humanities and Social Science, NLP Technology</span><br>
    <i class="fa fa-envelope"></i> ant<span class="nospace"> </span>ske.<span class="nospace"> </span>f<span class="nospace">  </span>okkens@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/piek_vossen.jpg') }}" alt="Piek Vossen" height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Piek Vossen</b> <br>
    Full Professor<br>
    <span><b>Research areas:</b> AI & Language, Computational Lexicon, Computational Semantics & Pragmatics, Event Extraction and Modelling, Linguistic Long Tail, Reference, Perspectives</span><br>
    <span><b>Courses:</b> Human Language Technology, (Applied) Text Mining, Communicative Robots, Computational Lexicon</span><br>
    <a class="text-dark" href="https://vossen.info" target=”_blank”><i class="fa-solid fa-house"></i></a>
    <i class="fa fa-envelope"></i> pi<span class="nospace"> </span>ek.<span class="nospace"> </span>vos<span class="nospace">  </span>sen@vu.nl
<br><br><br>
</div>


<h4>Assistant Professors</h4><br>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/lucia_donatelli.jpeg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Lucia Donatelli</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Formal Syntax and Semantics, Computational Semantics, (Situated & Multimodal) Dialogue, Semantic Parsing, Ethics & NLP</span><br>
    <span><b>Courses:</b> Natural Language Processing</span><br>
    <a class="text-dark" href="https://luciaelizabeth.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> l.<span class="nospace"> </span>e.don<span class="nospace"> </span>ate<span class="nospace">  </span>lli@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/isa_maks.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Isa Maks</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Opinion Mining, Sentiment Analysis, Lexical Resources</span><br>
    <span><b>Courses:</b> Text mining for Digital Humanities and Social Science (BA), Data Journalism (BA), Subjectivity mining (MA), Digital Humanities (MA)</span><br>
    <i class="fa fa-envelope"></i> is<span class="nospace"> </span>a.<span class="nospace"> </span>m<span class="nospace">  </span>aks@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/ilia_markov.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Ilia Markov</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Natural Language Processing, Computational Linguistics, Text Mining, Hate Speech Detection, Opinion Mining, Authorship Analysis</span><br>
    <span><b>Courses:</b> Subjectivity Mining, Forensic Linguistics 3: Methods of Authorship Analysis, Text Mining for AI </span><br>
    <a class="text-dark" href="https://ilia-markov.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <a class="text-dark" href="https://www.linkedin.com/pub/ilia-markov/80/856/9b6" target=”_blank”><i class="fa-brands fa-linkedin"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> i<span class="nospace"> </span>.m<span class="nospace"> </span>ar<span class="nospace">  </span>kov@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/luis_morgado_da_costa.jpeg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Luís Morgado da Costa</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Natural Language Processing and AI; Educational Technology; Grammatical Error Detection; Computational Lexical Semantics; Syntactic and Semantic Parsing;  Digital Humanities; Chinese NLP</span><br>
    <span><b>Courses:</b> Advanced NLP, Experiments in NLP, Python for Text Analysis, Applied Text Mining Methods</span><br>
    <a class="text-dark" href="https://www.luismc.com" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> l.g.<span class="nospace"> </span>de.passos.<span class="nospace"> </span>mor<span class="nospace">  </span>gado.da.costa@vu.nl
<br><br><br>
</div>
<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/pia_sommerauer.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Pia Sommerauer</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Distributional Semantics & Distributional Semantic Models, Model Interpretability, Concept Drift</span><br>
    <span><b>Courses:</b> Python for Text Analysis, Advanced NLP</span><br>
    <a class="text-dark" href="https://piasommerauer.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> pi<span class="nospace"> </span>a.s<span class="nospace"> </span>omme<span class="nospace">  </span>rauer@vu.nl
<br><br><br>
</div>
<div id="hennie">
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/hennie_van_der_vliet.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Hennie van der Vliet</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> (Lexical) Semantics, Lexicology, Terminology, Term Extraction, Corpus Linguistics</span><br>
    <span><b>Courses:</b> Introduction in Linguistics (BA), Morphology (BA), Semantics (BA), Data Journalism (BA), Linguistic Research (MA), Advanced Linguistics (MA) </span><br>
    <i class="fa fa-envelope"></i> h.d<span class="nospace"> </span>.vander<span class="nospace"> </span>.vl<span class="nospace">  </span>iet@vu.nl
<br><br><br>
</div>

<p class="text-right"><a href="#top"><sub>back to top <i class="fas fa-level-up" aria-hidden="true"></i></sub></a></p>
<hr>


<h4>Postdocs and Associated Researchers</h4><br>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/sophie_arnoult.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Sophie Arnoult</b><br>
    Postdoc, Scientific Programmer<br>
    <span><b>Research areas:</b> Digital Humanities, Machine Translation</span><br>
    <i class="fa fa-envelope"></i> s<span class="nospace"> </span>.i.<span class="nospace"> </span>arno<span class="nospace">  </span>ult@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/thomas_baier.png') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Thomas Baier</b><br>
    Postdoc<br>
    <span><b>Research areas:</b> Communicative Robotics, Affective Computing, AI & Language</span><br>
    <a class="text-dark" href="https://www.linkedin.com/in/thomas-baier-05519030" target=”_blank”><i class="fa-brands fa-linkedin"></i></a>
    <i class="fa fa-envelope"></i> tho<span class="nospace"> </span>mas.b<span class="nospace"> </span>ai<span class="nospace">  </span>er@vu.nl
<br><br><br>
<br><br>
</div>


<p class="text-right"><a href="#top"><sub>back to top <i class="fas fa-level-up"></i></sub></a></p>
<hr>



<h4>PhDs</h4><br>



<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/selene_baez_santamaria.png') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Selene Báez Santamaría</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Conversational AI, Knowledge Representation, Communicative robotics</span><br>
    <a class="text-dark" href="https://selbaez.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>
    <i class="fa fa-envelope"></i> s.ba<span class="nospace"> </span>ez<span class="nospace"> </span>santam<span class="nospace">  </span>aria@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/baran_barbarestani.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Baran Barbarestani</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Toxic language detection, Text mining, Deep learning, Explainability</span><br>
    <a class="text-dark" href="https://www.linkedin.com/in/baran-barbarestani-a9007520a" target=”_blank”><i class="fa-brands fa-linkedin"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> b.<span class="nospace"> </span>bar<span class="nospace"> </span>barest<span class="nospace">  </span>ani@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/leon_eshuijs.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Leon Eshuijs</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Steering NLP via Reinforcement Learning, Mechanistic Interpretability of LLMs, Bias and Fairness in NLP, AI Safety</span><br>
    <a class="text-dark" href="https://watermeleon.github.io" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> l.e<span class="nospace"> </span>s<span class="nospace"> </span>hui<span class="nospace">  </span>js@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/jonathan_kamp.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Jonathan Kamp</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Interpretability in Natural Language Processing, Robustness Testing and Evaluation, Argument Mining, Legal Argumentation</span><br>
    <a class="text-dark" href="https://jbkamp.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> j.k<span class="nospace"> </span>a<span class="nospace"> </span>mp<span class="nospace">  </span>@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/urja_khurana.png') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Urja Khurana</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Natural Language Processing, Deep/Machine Learning, Explainable and Generalizable AI, Generative Models, Computer Vision</span><br>
    <a class="text-dark" href="https://urjakh.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> u<span class="nospace"> </span>.kh<span class="nospace"> </span>ura<span class="nospace">  </span>na@vu.nl
<br><br><br>
<br><br>
</div>

{#<div>#}
{#  <figure style="float:left;"><img src="{{ url_for('static', filename='img/annika_kniele.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>#}
{#    <b>Annika Kniele</b><br>#}
{#    <span><b>Research areas:</b> Natural Language Processing, Natural Language Generation and Evaluation</span><br>#}
{#    <i class="fa-solid fa-house"></i> <a class="text-dark" href="" target=”_blank”>homepage</a>#}
{#    <i class="fa fa-envelope"></i> a.<span class="nospace"> </span>kn<span class="nospace"> </span>iel<span class="nospace">  </span>e@vu.nl#}
{#<br><br><br>#}
{#<br><br>#}
{#</div>#}

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/lea_krause.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Lea Krause</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Natural Language Processing, Natural Language Generation and Evaluation, Knowledge Representation, Ethics in NLP</span><br>
    <a class="text-dark" href="https://lkra.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> l.<span class="nospace"> </span>kr<span class="nospace"> </span>aus<span class="nospace">  </span>e@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/jaap_kruijt.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Jaap Kruijt</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Communicative robotics, affective computing, semantics and pragmatics</span><br>
    <a class="text-dark" href="https://www.linkedin.com/in/jaap-kruijt-b1015b152" target=”_blank”><i class="fa-brands fa-linkedin"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> j.k<span class="nospace"> </span>ru<span class="nospace"> </span>ij<span class="nospace">  </span>t@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/levi_remijnse.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Levi Remijnse</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Dutch Linguistics, Frame Semantics, Historical Linguistics, Computational Semantics and Pragmatics, Sociolinguistics, Syntax</span><br>
     <a class="text-dark" href="https://www.linkedin.com/in/levi-remijnse-135400178/" target=”_blank”><i class="fa-brands fa-linkedin"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> l.r<span class="nospace"> </span>emij<span class="nospace"> </span>n<span class="nospace">  </span>se@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/myrthe_reuver.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Myrthe Reuver</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> (Applied) Natural Language Processing, Language models, NLP in Recommender Systems, Diversity in Recommender Systems, Ethics in NLP</span><br>
     <a class="text-dark" href="https://myrthereuver.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> m.<span class="nospace"> </span>re<span class="nospace"> </span>uv<span class="nospace">  </span>er@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/stefan_schouten.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Stefan Schouten</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Deep / Machine Learning, Knowledge Extraction, Explainability</span><br>
     <a class="text-dark" href="https://sfschouten.github.io/" target=”_blank”><i class="fa-solid fa-house"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> s.<span class="nospace"> </span>sch<span class="nospace"> </span>ou<span class="nospace">  </span>ten@vu.nl
<br><br><br>
<br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/ellie_smith2.jpeg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Ellie Smith</b><br>
    <span><b>Research areas:</b> Digital Humanities, Evaluation Methods, & Open and FAIR Research/Data</span><br>
    <i class="fa fa-envelope"></i> e.<span class="nospace"> </span>sm<span class="nospace"> </span>i<span class="nospace">  </span>th@vu.nl
<br><br><br>
<br><br>
</div>


<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/wende_tufa.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Wende Tufa</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Evaluation of Cross-Lingual and Contextual Language Models, Transfer Learning</span><br>
    <i class="fa fa-envelope"></i> w<span class="nospace"> </span>.t<span class="nospace"> </span>u<span class="nospace">  </span>fa@vu.nl
<br><br><br>
<br><br>
<br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='img/stella_verkijk.png') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Stella Verkijk</b><br>
{#    <span><b>Thesis working title:</b> </span><br>#}
    <span><b>Research areas:</b> Natural Language Processing, Event Extraction and Modelling, Ontology Engineering, Language Models, Domain Adaptation</span><br>
    <a class="text-dark" href="https://nl.linkedin.com/in/stella-verkijk-3037621bb" target=”_blank”><i class="fa-brands fa-linkedin"></i></a>&nbsp;
    <i class="fa fa-envelope"></i> s.v<span class="nospace"> </span>er<span class="nospace"> </span>ki<span class="nospace">  </span>jk@vu.nl
<br><br><br>

</div>



<p class="text-right"><a href="#top"><sub>back to top <i class="fas fa-level-up" aria-hidden="true"></i></sub></a></p>
<hr>


<h4> Previous staff and guests </h4><br>
<ul>
<li>     Enrica Troiano, Postdoc Researcher (2024)
<li>     Michiel van der Meer, PhD candidate (2024)
<li>     Lisa Beinborn, Assistant Professor (2020-2024)
<li>     Angel Daza Arevalo, Postdoc Researcher (2019–2023)
<li>     Nina Schneidermann, guest PhD candidate (2023)
<li>     Roser Morante Vallejo, Postdoc Researcher (2012–2022)
<li>     Lieke Gelderloos, Lecturer (2021)
<li>     Chantal van Son, PhD candidate (2021)
<li>     Marten Postma, PhD candidate and postdoc researcher (2014–2021)
<li>     Minh Le, PhD candidate (2014–2021)
<li>     Filip Ilievski, PhD candidate (2014–2019)
<li>     Bram Kraaijeveld, Student assistant researcher (2017–2019)
<li>     Suzana Bašić, University Research Fellow (2018–2019)
<li>     Lenka Bajčetić, University Research Fellow (2017–2018) & assistant researcher (2017–2019)
<li>     Johan Rebel, Researcher (2018-2019)
<li>     Roxane Segers, Researcher (2018)
<li>     Emiel van Miltenburg, PhD candidate (2014-2018)
<li>     Selene Kolman, Project Manager (2014-2018)
<li>     Paul Huygen, Scientific Programmer
<li>     Tommaso Caselli, Senior Researcher (2014-2017)
<li>     Marieke van Erp, Postdoc researcher (2013-2017)
<li>     Agata Cybulska, PhD candidate (2009–2016)
<li>     Soufyan Belkaïd, University Research Fellow (2015–2016)
<li>     Rubén Izquierdo Beviá, Postdoc researcher (2011-2016)
<li>     Alessandro Lopopolo, MA, PhD candidate (2014-2016)
<li>     Anneleen Schoen MA, Researcher (2014-2015)
<li>     Attila Görög, Researcher (2009-2013)
<li>     Veronica Benigno, guest PhD candidate (2011)
<li>     Egoitz Laparra, guest PhD candidate (2011)
<li>     Francesco Ronzano, guest PhD candidate (2010)
</ul>

{% endblock %}