{% extends "index.html" %}
<a id="top"></a>

{% block main %}
<h2>CLTL Team</h2>
<br>

<a id="staff"></a>
<h4>Staff</h4><br>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='piek_vossen.jpg') }}" alt="Piek Vossen" height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Piek Vossen</b> <br>
    Full Professor<br>
    <span><b>Research areas:</b> AI & Language, Computational Lexicon, Computational Semantics & Pragmatics, Event Extraction and Modelling, Linguistic Long Tail, Reference, Perspectives</span><br>
    <span><b>Courses:</b> Human Language Technology, (Applied) Text Mining, Communicative Robots, Computational Lexicon</span><br>
    <i class="fa-solid fa-house"></i> <a class="text-dark" href="https://vossen.info" target=”_blank”>homepage</a>
    <i class="fa fa-envelope"></i> pi<span class="nospace"> </span>ek.<span class="nospace"> </span>vos<span class="nospace">  </span>sen@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='antske_fokkens.jpg') }}" alt="Antske Fokkens" height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Antske Fokkens</b><br>
    Full Professor<br>
    <span><b>Research areas:</b> Stereotyping & Perspectives, Bias & Methodology, Digital Humanities, Grammar Engineering</span><br>
    <span><b>Courses:</b> Machine Learning for NLP, Text Mining for Digital Humanities and Social Science, NLP Technology</span><br>
    <i class="fa fa-envelope"></i> ant<span class="nospace"> </span>ske.<span class="nospace"> </span>f<span class="nospace">  </span>okkens@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='hennie_van_der_vliet.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Hennie van der Vliet</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> (Lexical) Semantics, Lexicology, Terminology, Term Extraction, Corpus Linguistics</span><br>
    <span><b>Courses:</b> Introduction in Linguistics (BA), Morphology (BA), Semantics (BA), Data Journalism (BA), Linguistic Research (MA), Technical Translation (MA), Advanced Linguistics (MA) </span><br>
    <i class="fa fa-envelope"></i> h.d<span class="nospace"> </span>.vander<span class="nospace"> </span>.vl<span class="nospace">  </span>iet@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='ilia_markov.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Ilia Markov</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Natural Language Processing, Computational Linguistics, Text Mining, Hate Speech Detection, Opinion Mining, Authorship Analysis</span><br>
    <span><b>Courses:</b> </span><br>
    <i class="fa-solid fa-house"></i> <a class="text-dark" href="https://ilia-markov.github.io/" target=”_blank”>homepage</a>
    <i class="fa fa-envelope"></i> i<span class="nospace"> </span>.m<span class="nospace"> </span>ar<span class="nospace">  </span>kov@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='pia_sommerauer.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Pia Sommerauer</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Distributional Semantics & Distributional Semantic Models, Model Interpretability, Concept Drift</span><br>
    <span><b>Courses:</b> Python for Text Analysis, Advanced NLP</span><br>
    <i class="fa-solid fa-house"></i> <a class="text-dark" href="https://piasommerauer.github.io/" target=”_blank”>homepage</a>
    <i class="fa fa-envelope"></i> pi<span class="nospace"> </span>a.s<span class="nospace"> </span>omme<span class="nospace">  </span>rauer@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='luis_morgado_da_costa.jpeg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Luis Morgado da Costa</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Natural Language Processing and AI; Educational Technology; Grammatical Error Detection; Computational Lexical Semantics; Syntactic and Semantic Parsing;  Digital Humanities; Chinese NLP</span><br>
    <span><b>Courses:</b> Advanced NLP, Experiments in NLP, Python for Text Analysis, Applied Text Mining Methods</span><br>
    <i class="fa-solid fa-house"></i> <a class="text-dark" href="https://www.luismc.com/home/" target=”_blank”>homepage</a>
    <i class="fa fa-envelope"></i> l.g.<span class="nospace"> </span>de.passos.<span class="nospace"> </span>mor<span class="nospace">  </span>gado.da.costa@vu.nl
<br><br><br>
</div>

<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='lucia_donatelli.jpeg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Lucia Donatelli</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Formal Syntax and Semantics, Computational Semantics, (Situated & Multimodal) Dialogue, Semantic Parsing, Ethics & NLP</span><br>
    <span><b>Courses:</b> Natural Language Processing</span><br>
    <i class="fa-solid fa-house"></i> <a class="text-dark" href="https://luciaelizabeth.github.io/" target=”_blank”>homepage</a>
    <i class="fa fa-envelope"></i> l.<span class="nospace"> </span>e.don<span class="nospace"> </span>ate<span class="nospace">  </span>lli@vu.nl
<br><br><br>
</div>


<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='isa_maks.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Isa Maks</b><br>
    Assistant Professor<br>
    <span><b>Research areas:</b> Opinion Mining, Sentiment Analysis, Lexical Resources</span><br>
    <span><b>Courses:</b> Text mining for Digital Humanities and Social Science (BA), Data Journalism (BA), Subjectivity mining (MA), Digital Humanities (MA)</span><br>
    <i class="fa fa-envelope"></i> is<span class="nospace"> </span>a.<span class="nospace"> </span>m<span class="nospace">  </span>aks@vu.nl
<br><br><br>
</div>



<div>
  <figure style="float:left;"><img src="{{ url_for('static', filename='sophie_arnoult.jpg') }}" alt="..." height="120" style="float:left; border-radius: 50%;margin-right: 15px;"></figure>
    <b>Sophie Arnoult</b><br>
    Scientific Programmer<br>
    <span><b>Research areas:</b> Machine Translation</span><br>
    <span><b>Courses:</b> N.A.</span><br>
    <i class="fa-solid fa-house"></i> <a class="text-dark" href="{{ url_for('people_sophie_arnoult') }}" target=”_blank”>homepage</a> <i class="fa fa-envelope"></i> sop<span class="nospace"> </span>hie.<span class="nospace"> </span>arno<span class="nospace">  </span>ult@vu.nl
<br><br><br>
</div>

<p class="text-right"><a href="#top"><sub>back to top <i class="fas fa-level-up"></i></sub></a></p>
<hr>


<h4>Postdocs</h4><br>

<p class="text-right"><a href="#top"><sub>back to top <i class="fas fa-level-up" aria-hidden="true"></i></sub></a></p>
<hr>

<h4>PhDs</h4><br>

<p class="text-right"><a href="#top"><sub>back to top <i class="fas fa-level-up" aria-hidden="true"></i></sub></a></p>
<hr>

<h4>Previous staff and guests</h4><br>

<p class="text-right"><a href="#top"><sub>back to top <i class="fas fa-level-up" aria-hidden="true"></i></sub></a></p>
<hr>

{% endblock %}