{% extends "index.html" %}
<a id="top"></a>


{% block main %}
<a id="current"/>
<h2>Current Projects</h2>
<br>

<div class="container">
    <div id="accordion" class="accordion" >
        <div class="card mb-0">

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-rethinking-news-algos" style="background-color: #eff6fa;">
                <a class="card-title"> <b>Rethinking News Algorithms: Nudging Users Towards Diverse News Exposure</b> <br>2020-2024</a>
            </div>
            <div id="collapse-rethinking-news-algos" class="card-body collapse" data-parent="#accordion">
                <p>Can we design news recommenders to <b>nudge users towards diverse consumption of topics and perspectives</b>? The growing role of news recommenders raises the question of how news diversity can be safeguarded in a digital news landscape. Many existing studies look at either <b>the supply diversity</b> of recommendations, or the effects of (decreased) <b>exposure diversity</b> on e.g. polarization and filter bubbles. Research on how users choose from the available supply is lacking, making it difficult to understand the relation between algorithm design and possible adverse effects on citizens.</p>
                <p>We directly address the question of <i><b>how news recommender algorithms can be designed to optimize exposure diversity</b></i>. This innovative and interdisciplinary project builds on our extensive expertise on news diversity, news consumption behavior, text analysis and recommender design by providing: (WP1) a <b>normative framework</b> for assessing diversity; (WP2) a <b>language model</b> to automatically measure diversity; (WP3) a <b>model of news consumption choices</b> based on supply, presentation, and individual characteristics; and (WP4) a <b>concrete prototype</b> implementation of a recommender algorithm that optimizes exposure diversity, which will be <b>externally validated in a unique field experiment</b> with our media partners.</p>
                <p>The project will <b>bridge the gap between differing understandings of news diversity</b> in computer science, communication science, and media law. This will increase our <b>understanding of contemporary news behavior</b>, yield <b>new language models</b> for identifying topics and perspectives, and offer <b>concrete considerations</b> for designing recommenders that optimize exposure diversity. Together with media companies and regulators we <b>turn these scientific insights into concrete recommendations</b>.</p>
                <b>Team:</b>
                 <ul>
                     <li>Wouter van Atteveldt (VU)</li>
                     <li>Antske Fokkens (VU)</li>
                     <li>Natali Helberger (UvA)</li>
                     <li>Marijn Sax (postdoc ethics UvA)</li>
                     <li>Myrthe Reuver (PhD student Vomputational Linguistics VU)</li>
                     <li>Nicolas Mattis (PhD student Communication Science)</li>
                     <li>Sanne Vrijenhoek, (scientific programmer, UvA)</li>
                </ul>
                <b>In collaboration with:</b>
                 <ul>
                     <li>Suzan Verberne (U Leiden)</li>
                     <li>Nava Tintarev (TU Delft)</li>
                     <li>Johan Oomen (VU / B&G)</li>
                     <li>Media partners: Beeld & Geluid; NPO; VPRO; RTL; SvdJ</li>
                 </ul>
                Website: <a href="https://www.nwo.nl/en/projects/406di19073" target="_blank">https://www.nwo.nl/en/projects/406di19073</a>
            </div>


            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-alani" style="background-color: #eff6fa;">
                <a class="card-title"> <b>ALANI</b> <br>2020-2024</a>
            </div>
            <div id="collapse-alani" class="card-body collapse" data-parent="#accordion">
                <p>Can we design news recommenders to nudge users towards diverse consumption of topics and perspectives? The growing role of news recommenders raises the question of how news diversity can be safeguarded in a digital news landscape. Many existing studies look at either the supply diversity of recommendations, or the effects of (decreased) exposure diversity on e.g. polarization and filter bubbles. Research on how users choose from the available supply is lacking, making it difficult to understand the relation between algorithm design and possible adverse effects on citizens.</p>
                <p>We directly address the question of how news recommender algorithms can be designed to optimize exposure diversity. This innovative and interdisciplinary project builds on our extensive expertise on news diversity, news consumption behavior, text analysis and recommender design by providing: (WP1) a normative framework for assessing diversity; (WP2) a language model to automatically measure diversity; (WP3) a model of news consumption choices based on supply, presentation, and individual characteristics; and (WP4) a concrete prototype implementation of a recommender algorithm that optimizes exposure diversity, which will be externally validated in a unique field experiment with our media partners.</p>
                <p>The project will bridge the gap between differing understandings of news diversity in computer science, communication science, and media law. This will increase our understanding of contemporary news behavior, yield new language models for identifying topics and perspectives, and offer concrete considerations for designing recommenders that optimize exposure diversity. Together with media companies and regulators we turn these scientific insights into concrete recommendations.</p>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </p>
                Website: <a href="https://www.google.com" target="_blank">Test URL</a>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-understanding" style="background-color: #eff6fa;">
                <a class="card-title"> <b>Understanding of Language by Machines</b> <br>2014-2019 </a>
            </div>
            <div id="collapse-understanding" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>The goal of the Spinoza project “Understanding of language by machines” (ULM) is to develop computer models that can assign deeper meaning to language that approximates human understanding and to use these models to automatically read and understand text. Current approaches to natural language understanding consider language as a closed-world of relations between words. Words and text are however highly ambiguous and vague. People do not notice this ambiguity when using language within their social communicative context. This project tries to get a better understanding of the scope and complexity of this ambiguity and how to model the social communicative contexts to help resolving it. The project is divided into 4 subprojects, each investigating a different aspect of assigning meaning:</p>
                    <ul><li><b>ULM-1: The borders of ambiguity</b>: ULM-1 will explore the closed world of language as a system of word relations. The goal is to more properly define the problem and find the optimal solution given the vast volumes of textual data that are available. This project starts from the results obtained in the DutchSemCor project.</li></ul>
                    <ul><li><b>ULM-2: Word, concept, perception and brain</b>: ULM-2 will cross the borders of language and relate words and their meanings to perceptual data and brain activation patterns.</li></ul>
                    <ul><li><b>ULM-3: Stories and world views as a key to understanding language</b>: ULM-3 will consider the interpretation of text built up from words as a function of our ways of interacting with the changing world around us. We interpret changes from our world-views on the here and now and the future. Furthermore, we structure these changes as stories along explanatory motivations. This project builds on the results of the European project NewsReader.</li></ul>
                    <ul><li><b>ULM-4: A quantum model of text understanding</b>: ULM-4 is a technical project that investigates a new model of natural-language-processing. Current approaches are based on a pipeline architecture, in which the complete problem is divided in a series of smaller isolated tasks, e.g. tokenization, part-of-speech-tagging, lemmatisation, syntactic parsing, recognition of entities, detection of word meanings. In this new model, none of these tasks is decisive and the final interpretation is left to higher-order semantic and contextual models. This project also builds on the findings of previous European (KYOTO) and ongoing OpeNER and NewsReader) and national (BiographyNet) projects carried out at the VU University Amsterdam. The goal is to develop a new model of natural-language-processing in which text is interpreted in a combined top-down and bottom-up proces.</li></ul>
                </div>

            </div>
            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-hybrid" style="background-color: #eff6fa;">
                <a class="card-title"> <b>Hybrid Intelligence</b> <br>2019-2029 </a>
            </div>
            <div id="collapse-hybrid" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><b><a href="https://www.hybrid-intelligence-centre.nl/">Hybrid Intelligence (HI): Augmenting Human Intellect</a>: NWO Zwaartekracht 2019-2029</b></p>
                    <ul>A Gravitation Project Hybrid Intelligence (HI) that combines human and artificial intelligence. Six Dutch universities will develop theories and methods for intelligent systems that cooperate with humans, that adapt to dynamic circumstances and that can explain their actions. Ethical and legal values, such as transparency, accountability and trust, will be taken into account during the design of such HI systems. We will demonstrate applications of HI systems in healthcare, education and science to show the potential of artificial intelligence to amplify human intelligence instead of replacing it.</ul>
                    <h5 class="entry-title"><a href="https://www.hybrid-intelligence-centre.nl/team/" target="_blank" rel="noopener">The Hybrid Intelligence Centre</a></h5>
                    <p>Developing HI needs fundamentally new solutions to core research problems in AI: current AI technology surpasses humans in many pattern recognition and machine learning tasks, but it falls short on general world knowledge, common sense, and the human capabilities of (i) Collaboration, (ii) Adaptivity, (iii) Responsibility and (iv) Explainability of norms and values (CARE). These challenges are being addressed in four interconnected research lines:</p>
                    <p><b>Collaborative HI</b>: How to design and build intelligent agents that work in synergy with humans, with awareness of each other’s strengths and limitations? We develop shared mental models for communication between humans and agents, computational theories of mind to enable collaboration, and exploit multimodal interaction for seamless dialogues.<br>
                    <b>Coordinators</b>: Dr. Hayley Hung,&nbsp;<a href="https://www.hybrid-intelligence-centre.nl/research/h.hung@tudelft.nl">h.hung@tudelft.nl</a> and&nbsp;<br>
                        Prof. Koen Hindrinks,&nbsp;<a href="https://www.hybrid-intelligence-centre.nl/research/k.v.hindriks@vu.nl">k.v.hindriks@vu.nl</a></p>
                    <p><b>Adaptive HI:</b> The world in which Hybrid Intelligent systems operate is dynamic, as are the teams of humans and agents that make up such HI systems. HI systems thus need to operate in situations not anticipated by their designers, and cope with variable team configurations, preferences and roles. This requires progress in online reinforcement learning, auto ML, and the integration of learning and reasoning. <strong>Coordinators</strong>: Dr. Herke van Hoof,&nbsp;<br>
                    <a href="https://www.hybrid-intelligence-centre.nl/research/h.c.vanhoof@uva.nl">h.c.vanhoof@uva.nl</a> and Prof. Guszti Eiben,&nbsp;<a href="https://www.hybrid-intelligence-centre.nl/research/a.e.eiben@vu.nl">a.e.eiben@vu.nl</a></p>
                    <p><b>Responsible HI</b>: Addressing and mitigating some of the perceived risks of Artificial Intelligence technologies requires ethical and legal concerns to be an integral part of the design and operation of HI systems. Values such as transparency, accountability, trust, privacy and fairness can no longer be relegated to regulations that apply after system’s deployment. We develop methods to include ethical, legal and societal considerations into the design process (“ethics in design”) and into the performance (“ethics by design”) of HI systems. <strong>Coordinators</strong>: Dr. M. Birna van Riemsdijk,&nbsp;<a href="https://www.hybrid-intelligence-centre.nl/research/m.b.vanriemsdijk@utwente.nl">m.b.vanriemsdijk@utwente.nl</a> and Prof. Bart Verheij, <a href="mailto:bart.verheij@rug.nl">bart.verheij@rug.nl</a>&nbsp;</p>
                    <p><b>Explainable HI</b>: Intelligent agents and humans need to be able to mutually explain to each other what is happening (shared awareness), what they want to achieve (shared goals), and what collaborative ways they see of achieving their goals (shared plans and strategies). The challenge is to generate appropriate explanations in different circumstances and for different purposes, even for systems whose internal representations are vastly different from human cognitive concepts. We use causal models for shared representations, develop methods for contrastive, selective and interactive explanations, and combine symbolic and statistical representations. <strong>Coordinators</strong>: Dr. Antske Fokkens,&nbsp;<a href="https://www.hybrid-intelligence-centre.nl/research/antske.fokkens@vu.nl">antske.fokkens@vu.nl</a> and Prof. Piek Vossen,&nbsp;<a href="https://www.hybrid-intelligence-centre.nl/research/piek.vossen@vu.nl">piek.vossen@vu.nl</a></p>
                </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-robots" style="background-color: #eff6fa;">
                <a class="card-title"> <b>Make Robots Talk and Think</b> <br>2020-2024 </a>
            </div>
            <div id="collapse-robots" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>The Spinoza-project <em><a href="http://www.understandinglanguagebymachines.org/" target="_blank" rel="noopener">Understanding-Language-By-Machines</a></em>&nbsp;has funded a follow-up project “Make Robots talk and think” (2020-2024) with 2 PhD students that work on our robot project <a href="http://makerobotstalk.nl/" target="_blank" rel="noopener"><em>Leolan</em>i</a>.</p>
                    <p>Leolani uses communication to learn about us and the world but she also needs to learn&nbsp;our language at the same time. Communicating and reasoning over the physical world and the people she encounters is a real challenge.</p>
                    <p>They will&nbsp;define their research topic within the <a href="http://makerobotstalk.nl/" target="_blank" rel="noopener">Leolani</a> framework&nbsp;and become part of the team of researchers that further develops the platform. &nbsp;</p>
                    <p>More info will follow. For now read:</p>
                    <ul>
                        <li><a href="http://www.understandinglanguagebymachines.org/research/project-5/" target="_blank" rel="noopener">http://www.understandinglanguagebymachines.org/research/project-5/</a></li>
                        <li><a href="http://makerobotstalk.nl/" target="_blank" rel="noopener">http://makerobotstalk.nl</a></li>
                        <li><a href="http://www.cltl.nl/" target="_blank" rel="noopener">http://www.cltl.nl</a></li>
                        <li><a href="http://www.vossen.info/" target="_blank" rel="noopener">http://www.vossen.info</a></li>
                    </ul>
                </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-project6" style="background-color: #eff6fa;">
                <a class="card-title"> <b>Robot Leolani (ULM5)</b> </a>
            </div>
            <div id="collapse-project6" class="collapse" data-parent="#accordion">
                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS. </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-framenet" style="background-color: #eff6fa;">
                <a class="card-title"> <b>Dutch Framenet</b> <br> 2019-2023 </a>
            </div>
            <div id="collapse-framenet" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><b>Framing situations in the Dutch Language ; <a href="http://dutchframenet.nl" target="_blank" rel="noopener">Dutch FrameNet</a></b><br>
                        <b>NWO Vrije Competitie Geesteswetenschappen (2019-2023)&nbsp;</b></p>
                    <p>Language plays a central role in&nbsp;framing, as we daily choose which nouns and verbs describe or frame a given situation. For some languages,&nbsp;researchers created databases (called FrameNets) containing rich collections of conceptual schemas (frames) that&nbsp;describe situations from a certain perspective. These frames are connected to words and sentences that express them.&nbsp;Several lexical resources exist for Dutch, but no FrameNet. Moreover, we have limited knowledge of the variation of&nbsp;framing in Dutch and how this compares to other languages.&nbsp;</p>
                    <p>The project’s objectives are:</p>
                    <ul>
                        <li>to create a unique data set where similar situations are framed by many different sources and texts using a newly developed data-to-text method;</li>
                        <li>to capture the variation in framing these situations in Dutch and other languages;</li>
                        <li>to capture semantic-pragmatic factors underlying the usage of different frames for similar situations, and</li>
                        <li>to develop semantic frame and role annotation software.</li>
                    </ul>
                </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-clariah" style="background-color: #eff6fa;"> {#Last one no border#}
                <a class="card-title"> <b>Clariah</b> <br>2015-2018 </a>
            </div>
            <div id="collapse-clariah" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><strong><a href="http://www.clariah.nl/en/" target="_blank">CLARIAH</a> (Common Lab Research Infrastructure for the Arts and Humanities): <a href="http://www.nwo.nl/en/research-and-results/programmes/National+Roadmap+For+Large-Scale+Research+Facilities/projects/projects+2014" target="_blank">NWO</a> National Roadmap for Large-Scale Research Facilities programme (2015-2018)</strong></p>
                    <h3><span style="color:rgb(39, 118, 153); text-decoration:none">General info</span></h3>
                    <p>CLARIAH is developing a digital infrastructure that brings together large collections of data and software from different humanities disciplines. This will enable humanities researchers, from historians, literature experts and archaeologists to linguists, speech technologists and media scientists – to investigate cross-disciplinary questions, for example about culture and societal change. CLARIAH has received 12 million euros for the development of research instruments and the training of scientists. This project is vitally important for the development of the humanities in the Netherlands; a digital revolution is taking place that will drastically change how humanities research is done. The potential societal impact of this is also considerable.</p>
                    <h3><span style="color:rgb(39, 118, 153); text-decoration:none">Organisations involved</span></h3>
                    <p>Organisations involved (applicants) are: Huygens ING, International Institute for Social History, Meertens Institute, Netherlands Institute for Sound and Vision, DANS, Radboud University Nijmegen, Utrecht University, University of Amsterdam and VU University Amsterdam. Project leader: Prof. A.F. (Lex) Heerma van Voss.</p>
                    <p>CLARIAH | NWO-programma Nationale Roadmap on YouTube (in Dutch)<br>
                        <iframe width="625" height="352" src="https://www.youtube.com/embed/r9z3SpxXdu4?feature=oembed" frameborder="0" allowfullscreen=""></iframe></p>
                    <p>CLARIAH kickoff 2015 on YouTube (in Dutch)<br>
                        <iframe width="625" height="352" src="https://www.youtube.com/embed/j0e0PmgFlGA?feature=oembed" frameborder="0" allowfullscreen=""></iframe></p>
                </div>
            </div>

             <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-qupid2" style="background-color: #eff6fa;"> {#Last one no border#}
                <a class="card-title"> <b>QuPiD 2</b> <br>2015-2019</a>
            </div>
            <div id="collapse-qupid2" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><b>QuPiD2: <a href="https://qupid-project.net/" target="_blank">Quality and Perspectives in Deep Data</a>. AAA-DS <a href="http://amsterdamdatascience.nl/about/aaa-data-science-program/" target="_blank">(Amsterdam Academic Alliance – Data Science) project</a> (2015-2019)</b></p>
                    <p><a href="https://qupid-project.net/" target="_blank"><img class="size-full wp-image-1725 aligncenter" src="http://www.cltl.nl/files/2016/10/Amsterdam_Data_Science.png" alt="Amsterdam Data Science QuPiD2" width="439" height="200" srcset="http://www.cltl.nl/files/2016/10/Amsterdam_Data_Science.png 439w, http://www.cltl.nl/files/2016/10/Amsterdam_Data_Science-300x137.png 300w" sizes="(max-width: 439px) 100vw, 439px"></a></p>
                    <p><b>About</b><br>QuPiD2 entails three interdisciplinary projects, embedded in the Humanities and Computer Science research groups of VU University Amsterdam and University of Amsterdam, and aiming at good synergy with other Amsterdam Data Science use cases:</p>
                    <ul>
                        <li><b><a href="https://qupid-project.net/projects/project-1-representation-of-data-perspectives/" target="_blank">Representation of Data Perspectives</a></b></li>
                        <li><a href="https://qupid-project.net/projects/project-2-representation-of-data-quality/" target="_blank"><b>Representation of Data Quality</b></a></li>
                        <li><a href="https://qupid-project.net/projects/project-3-from-text-to-deep-data/" target="_blank"><b>From Text to Deep Data</b></a></li>
                    </ul>
                    <p>The CLTL is involved in the third project, From Text to Deep Data.</p>
                    <p><b>Summary of QuPiD2</b><br>80% of digital data is in unstructured textual form. Textual data is rich and complex. Not only does it contain massive amounts of statements but, more importantly, it also reflects our perspective on these statements: our emotions, opinions, the interpersonal, as well as the current social debate. Textual data is therefore not only big but it is also deep, adding a multitude of complexity.</p>
                    <p>The QuPiD2 program aims to deliver <b>a framework for deep data representation</b> that makes data provenance, quality and perspective explicit in the way such data is described and consumed. This will ultimately help indicating bias in factual statements. It will allow to track variations over time and thus enhance our understanding of data and its reliability.</p>
                    <p>QuPiD2 will apply this framework to <b>a variety of textual sources</b>: social media, newspapers, biographies, encyclopedias, literary texts, e.g. novels, songs.</p>
                    <p>QuPiD2 aims are four-fold:</p>
                    <ul>
                        <li><b>modeling of quality and perspectives by providing transparency and reliability measures</b>, and allowing reasoning within social and historic contexts;</li>
                        <li><b>machine-crowd empowered processing of textual sources</b> for populating QuPiD model;</li>
                        <li>collection and analysis of <b>quality factors and perspectives through crowd-expert data interpretation</b>;</li>
                        <li><b>demonstrating the value</b> of data perspectives and quality analysis.</li>
                    </ul>
                    <p>Modeling data quality and perspective variation, common in the humanities, is useful for various data science paradigms. In their recent History Manifesto historians Armitage and Guldi ring the alarm bell against the <i>“ghost of short-termism”</i>: policy makers and scientists base their analysis and decisions on limited data sets that cover incredible short periods of time. They break a case for <i>longue dúree perspectives</i> for policy makers, entrepreneurs, and scientists. Data Science will become an important instrument for bridging the gap between the humanities and other sciences, providing long term and ‘deep’ perspectives.</p>
                    <p><b>The QuPiD2 Team</b></p>
                    <ul>
                        <li><a href="https://loraaroyo.wordpress.com/" target="_blank">Lora Aroyo</a>, Computer Science, Faculty of Science, VU University Amsterdam</li>
                        <li><a href="http://www.uva.nl/over-de-uva/organisatie/medewerkers/content/b/o/l.w.m.bod/l.w.m.bod.html" target="_blank">Rens Bod</a>, Computational and Digital Humanities, Faculty of Humanities &amp; Faculty of Science, University of Amsterdam</li>
                        <li><a href="http://www.fgw.vu.nl/nl/over-de-faculteit/medewerkers/medewerkers-i-l/prof-dr-i-leemans/index.aspx" target="_blank">Inger Leemans</a>, Cultural History, Faculty of Humanities, VU University Amsterdam</li>
                        <li><a href="http://www.uva.nl/over-de-uva/organisatie/medewerkers/content/n/o/j.j.noordegraaf/j.j.noordegraaf.html" target="_blank">Julia Noordegraaf</a>, Digital Heritage, Faculty of Humanities, University of Amsterdam</li>
                        <li><a href="http://vossen.info/" target="_blank">Piek Vossen</a>, Computational Linguistics, Faculty of Humanities, VU University Amsterdam</li>
                        <li><a href="http://www.uva.nl/en/contact/staff/item/s.terbraake.html?f=Serge+ter+Braake" target="_blank">Serge ter Braake</a>, Media and Culture, Faculty of Humanities, University of Amsterdam</li>
                        <li><a href="http://www.few.vu.nl/~dceolin/davide.html" target="_blank">Davide Ceolin</a>, Computer Science, Faculty of Science, VU University Amsterdam</li>
                        <li><a href="https://chantalvanson.wordpress.com/" target="_blank">Chantal van Son</a>, Computational Linguistics, Faculty of Humanities, VU University</li>
                    </ul>
                </div>
             </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-digital-humanities" style="background-color: #eff6fa;"> {#Last one no border#}
                <a class="card-title"> <b>Digital Humanities</b> <br>2013-Ongoing </a>
            </div>
            <div id="collapse-digital-humanities" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><strong><a href="http://www.centrefordigitalhumanities.nl" target="_blank">Centre for Digital Humanities Amsterdam</a>&nbsp;(2013-ongoing)</strong></p>
                    <p>Project Leader on behalf of the VU University in the <a href="http://www.centrefordigitalhumanities.nl" target="_blank">Centre for Digital Humanities Amsterdam</a>: a collaboration between the University of Amsterdam, the VU University of Amsterdam and the Royal Netherlands Academy of Arts and Sciences. Within the field of Digital Humanities, researchers and students focus on digital or digitized sources and methods of research. Digital data concerning language, art, music, literature and media allow researchers to discovers new patterns, concepts and motives, eventually raising new research questions.</p>
                    <p><em>The Centre for Digital Humanities is a collaboration between the University of Amsterdam, the VU University, and the Royal Netherlands Academy of Arts and Sciences, joining forces with the Netherlands eScience Center</em></p>
                    <p>The Centre for Digital Humanities Amsterdam facilitates so-called embedded research projects, in which research questions from the humanities are approached by using techniques and concepts out of the fields of Digital Humanities. In these short and intensive projects, which last between 6 and 12 months, researchers collaborate with private partners and deliver proof-of-concepts. The centre preferably initiates embedded research projects in the context of larger projects in which expertise from the humanities and industry is brought together.</p>
                </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-dutch-wordnet" style="background-color: #eff6fa;"> {#Last one no border#}
                <a class="card-title"> <b>Open Dutch Wordnet</b></a>
            </div>
            <div id="collapse-dutch-wordnet" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><a href="http://wordpress.let.vupr.nl/odwn/" target="_blank"><strong>Open Source Dutch Wordnet</strong></a> is a Dutch lexical semantic database.</p>
                    <p>It was created by removing the proprietary content from Cornetto (http://www2.let.vu.nl/oz/cltl/cornetto), and by using open source resources to replace this proprietary content.</p>
                    <p>Open Source Dutch WordNet contains 116,992 synsets, of which 95,356 originate from WordNet 3.0 and 21,636 synsets are new synsets. The number of English synsets without Dutch synonyms is 60,743, which means that 34,613 WordNet 3.0 synsets have been filled with at least one Dutch synonym.</p>
                    <p>This project has been co-funded by the <a href="http://taalunie.org/" target="_blank">Nederlandse Taalunie</a> (2013-2014).</p>
                    <p>CLTL is project coordinator of the translation of the <a href="http://wordnet.princeton.edu/" target="_blank">English WordNet</a> to Dutch.</p>
                </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-wordnet-grid" style="background-color: #eff6fa;"> {#Last one no border#}
                <a class="card-title"> <b>Global Wordnet Grid</b> <br>2006-Ongoing</a>
            </div>
            <div id="collapse-wordnet-grid" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><b>Global WordNet Grid: a&nbsp;<a href="http://www.globalwordnet.org/" target="_blank">GWA</a>&nbsp;Project (2006-ongoing)</b></p>
                    <p>In 2006 The Global Wordnet Association launched the Global Wordnet Grid: the building of a complete free worldwide wordnet grid. This grid will be build around a shared set of concepts, such as the Common Base Concepts used in many wordnet projects. These concepts will be expressed in terms of Wordnet synsets and SUMO definitions. People from all language communities are invited to upload synsets from their language to the Grid. Gradually, the Grid will then be represented by all languages. The Grid will be available to everybody and will be distributed completely free.</p>
                </div>
            </div>

            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-wordnet-association" style="background-color: #eff6fa;"> {#Last one no border#}
                <a class="card-title"> <b>Global Wordnet Association</b> <br>2000-Ongoing</a>
            </div>
            <div id="collapse-wordnet-association" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p><b><a href="http://www.globalwordnet.org/" target="_blank">Global WordNet Association</a>&nbsp;(2000-ongoing)<br></b></p>
                    <ul>Vossen is Founder and President of the Global WordNet Association. He founded GWA (with Christiane Fellbaum of Princeton University) in 2000 as a public and non-commercial organization that provides a platform for discussing, sharing and connecting wordnets for all languages in the world. For more information see:</ul>
                    <ul>
                        <li><a href="http://www.globalwordnet.org/" target="_blank">Global WordNet Association</a></li>
                        <li>Eighth Global WordNet Conference 2016 in Bucharest, Romania, January 27-30, 2016</li>
                        <li>Seventh Global WordNet Conference 2014 in Tartu, Estonia, January 25-29, 2014</li>
                        <li>Sixth Global WordNet Conference 2012 in Matsue, Japan, January 9-13, 2012</li>
                        <li>Fifth Global WordNet Conference 2010 in Mumbai, India, January 31 – February 4, 2010</li>
                        <li>Fourth Global WordNet Conference 2008 in Szeged, Hungary, January 22-25, 2008</li>
                        <li>Third Global Wordnet Conference 2006 in Jeju Island. Korea, January 22-26, 2006</li>
                        <li>Second Global Wordnet Conference 2004 in Brno, Czech Republic, January 20-23, 2004</li>
                        <li>First Global WordNet Conference 2002 in Mysore, India, January 21-25, 2002</li>
                    </ul>
                </div>
            </div>
         </div>
    </div>
</div>




<p></p>
<p class="text-right"><a href="#top"><sub>back to top <i class="fa fa-level-up" aria-hidden="true"></i></sub></a></p>
<hr>

{% endblock %}
