{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Research Overview</h3>

    <p>
        Video explaining  5 years of research in the Spinoza-projects “Understanding Language
        by Machines“, 2019 <br>

        Video explaining NewsReader‘s Reading Machine — Example of one of CLTL’s projects Lecture
        (in Dutch) Prof. dr. Piek Vossen at Paradiso Amsterdam: ‘To Communicate with an Imperfect
        Robot — Get It?’ March 25, 2018
    </p>

    <p>
        Our research not only targets Dutch and English as a language but also other languages in the
        world. An important project is the Global Wordnet Association and the building of the Global
        Wordnet Grid: this project aims at representing many vocabularies of languages as semantic
        networks or wordnets and combining them through a universal index of meaning. Building and
        studying this grid will tell us more about universalities and idiosyncrasies of languages
        and likewise about the roles and functions of words and expressions.
    </p>


    <p>
        We see language as a reference system that connects people and systems to their perception
        of the world. Identity, reference and perspectives are central themes in our research
        and are studied in combination. In our research on conversational Robots, many of our
        ideas come together: http://makerobotstalk.nl In this project, we try to build robots
        that communicate with people in real-world situations taking perception of the contexts
        into account and shared common ground.
    </p>


<div>

    <p> 
        ...
    </p>

    <h5>...</h5>

    <p>
        ...
    </p>

    <p>
        ...
    </p>
</div>
{% endblock %}
