{% extends "index.html" %}
<a name="top"></a>

{% block main %}
<a name="current"/>
<h2>Current Projects</h2>
<br>


<p><b>Rethinking News Recommender Systems (2020-2024)</b><br>
...
</p>

<p><b>ALANI (2020-2024)</b><br>
...
</p>


<p><b>Understanding of Language by Machines</b><br>
...
</p>


<p><b>Hybrid Intelligence (2019-2029)</b><br>
...
</p>


<p><b>Make Robots Talk and Think (2020-2024)</b><br>
...
</p>


<p><b>Robot Leolani (ULM5)</b><br>
...
</p>


<p><b>Dutch Framenet (2019-2023)</b><br>
...
</p>


<p><b>CLARIAH</b><br>
...
</p>


<p><b>VU University Research Fellow</b><br>
...
</p>


<p><b>QuPiD2</b><br>
...
</p>


<p><b>Word, Sense and Reference</b><br>
...
</p>


<p><b>Digital Humanities</b><br>
...
</p>


<p><b>Open Dutch Wordnet</b><br>
...
</p>


<p><b>Global WordNet Grid</b><br>
...
</p>


<p><b>Global WordNet Association</b><br>
...
</p>


<p><b>...</b><br>
...
</p>


<p><b>...</b><br>
...
</p>


<p><b>...</b><br>
...
</p>


<p><b>...</b><br>
...
</p>


<p><b>...</b><br>
...
</p>



<p></p>
<p class="text-right"><a href="#top"><sub>back to top <i class="fa fa-level-up" aria-hidden="true"></i></sub></a></p>
<hr>

{% endblock %}
