{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Resources</h3>

<div>
    <p>
        CLTL has created a wide range of Natural Language Processing open source software and resources, among which  
        Open Dutch Wordnet and Framenet.
    </p>
    <p> 
        All our software is open source and can
        be accessed through our <a href="https://github.com/cltl">Github repository</a>. An overview of 
        our resources can be found <a href="https://github.com/cltl/cltl.github.io">here</a>.
    </p>
        See also our <a href="https://huggingface.co/CLTL">Huggingface page</a> for pretrained and fine-tuned language models.
    </p>

</div> 


{% endblock %}
