{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h2>Resources</h2>

<div>
    <p>
    </p>
    <p> 
        CLTL has created a wide range of Natural Language Processing open source software and resources.
        All our software is open source and can
        be accessed through our <a href="https://github.com/cltl" target="_blank">Github repository</a>. An overview of
        our resources can be found in our <a href="https://cltl.github.io/resources/corpora" target="_blank">CLTL Archive</a>.
    </p>
        See also our <a href="https://huggingface.co/CLTL" target="_blank">Huggingface page</a> for pretrained and fine-tuned language models.
    </p>

</div> 


{% endblock %}
