{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>


<h3>Resources</h3>

    <p>
        CLTL has created a wide range of Natural Language Processing open source software and resources, 
        including Large Language Models on <a href="https://huggingface.co/CLTL">Huggingface</a>. 
        All our software is open source and can
        be accessed through our Github repository. An overview of our language resources: annotated
        corpora and lexicons, can be found here. Well-known examples are the Open Dutch Wordnet and
        Framenet as important lexical resources for Dutch.
    </p>


<div>

    <p>
        ...
    </p>

    <h5>...</h5>

    <p>
        ...
    </p>

    <p>
        ...
    </p>
</div>
{% endblock %}
