{% extends "index.html" %}

{% block main %}

<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>



    {#    <div>#}
{#  <p><figure style="float:left;min-width: fit-content;"><img src="{{ url_for('static', filename='img/cltl_header.png') }}" alt="CLTL" style="float:left;min-width: fit-content;"></figure>#}
{#</div>#}


<h3>Computational Linguistics & Text Mining Lab</h3>


<div>

    <p>
        The Computational Linguistics & Text Mining Lab (CLTL) is lead by <a href="{{ url_for('people') }}#staff">Prof. Dr. Piek Vossen</a> and
    <a href="{{ url_for('people') }}#staff">Prof. Dr. Antske Fokkens</a> at the Faculty of Humanities of Vrije Universiteit Amsterdam. 
        The CLTL has evolved from conducting research on Computational Lexicology and Terminology to dealing more broadly with 
        AI and Computational Linguistics.
    </p>    

    <figure style="float:right;margin-top: 10px;"><img src="{{ url_for('static', filename='img/classroom_piek.jpg') }}"  height="200" style="float:right; margin-left: 15px;"></figure>
    <p>        
        Our key research themes are:
        <ul>
            <li><h5>Identity, reference and perspectives</h5> 
                <p>
                    The CLTL has a strong track record in conversational AI, but we are also developing Dutch FrameNet, 
                    and work on entity and event detection, hate speech and subjectivity.  
                </p>
                </li>
            <li><h5>Meaning representation</h5>
            <p>
                The CLTL is a long-standing participant of the Global Wordnet Association and a contributor to the 
                Global Wordnet Grid for Dutch. We also study meaning in distributional representations, contextual
                embeddings and multilingual representations.
            </p></li>
            <li><h5>LLMs and interpretability</h5>
            <p>
                The CLTL actively studies, builds and uses Large Language Models. We notably research hallucination and 
                bias in these models and how to correct them.
            </p></li>
        </ul>
    </p>

    <h4>Engagement and partnership</h5>
    <p>
        The CLTL actively engages in interdisciplinary projects with other academic institutions and companies. 
        Medical NLP and Digital Humanities are recurring themes in these partnerships. 
    </p>
    <p>
        The CLTL offers two master programs in AI and NLP, a one-year <a href="{{ url_for('education_ma_tm') }}">Language and AI</a>
        MA, and a two-year <a href="{{ url_for('education_ma_hlt') }}">Human Language Technology</a> Research MA. The CLTL 
        is a partner in the <a href="https://vu-ut.nl/create/">Creative Technologies</a> Bsc together with the University of Twente. Our teaching
        staff further give other BA and MA courses at Vrije Universiteit Amsterdam. 
    </p>
    <p>
        We value open science and publish our <a href="{{ url_for('resources') }}">models, software and resources</a> open source.
    </p>

</div>
{% endblock %}
